<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Deploy">
	<Import Project="Assemblies\CommTasks\MSBuild.Community.Tasks.Targets"/>
	<Import Project="Assemblies\ExtPack\MSBuild.ExtensionPack.tasks"/>
           
  <PropertyGroup>
    <RootDirectory>..</RootDirectory>
    <Config>Release</Config>
    <ReleaseVersion>1.0.0.0</ReleaseVersion>
    <ReleaseVersionEscaped>$(ReleaseVersion.Replace(".", "_"))</ReleaseVersionEscaped>
    <ReleaseName>TS3QueryLib.Net.V$(ReleaseVersionEscaped)</ReleaseName>
    <ReleaseDirectory>Releases\$(ReleaseVersionEscaped)</ReleaseDirectory>
  </PropertyGroup>
  
  <Target Name="Deploy">
    <Message Text="Starting deployment of release: $(ReleaseName)"/>

    <CallTarget Targets="ChangeFileVersion"/>
    <CallTarget Targets="Build"/>
    <CallTarget Targets="CopyFiles"/>
    <CallTarget Targets="ZipFiles"/>

    <Message Text="Finished deployment of release: $(ReleaseName)"/>
  </Target>

  <Target Name="ChangeFileVersion">
    <PropertyGroup>
      <AssemblyInfoFile>$(RootDirectory)\TS3QueryLib.Core.Silverlight\Properties\AssemblyInfo.cs</AssemblyInfoFile>
    </PropertyGroup>

    <Exec Command="attrib -r $(AssemblyInfoFile)"/>
    <FileUpdate Files="$(AssemblyInfoFile)" Regex="AssemblyVersion\(&quot;[^&quot;]+&quot;\)" ReplacementText="AssemblyVersion(&quot;$(ReleaseVersion)&quot;)" />
    <FileUpdate Files="$(AssemblyInfoFile)" Regex="AssemblyFileVersion\(&quot;[^&quot;]+&quot;\)" ReplacementText="AssemblyFileVersion(&quot;$(ReleaseVersion)&quot;)" />
  </Target>
  
  <Target Name="Build">
    <Message Text="Cleaning Solution"/>
    <MSBuild Projects="$(RootDirectory)\TS3QueryLib.Net 2010.sln" Properties="Configuration=$(Config)" Targets="Clean"/>

    <Message Text="Building Solution"/>
    <MSBuild Projects="$(RootDirectory)\TS3QueryLib.Net 2010.sln" Properties="Configuration=$(Config)"/>
  </Target>

  <Target Name="CopyFiles">
    <PropertyGroup>
      <SilverlightDirectory>$(RootDirectory)\TS3QueryLib.Core.Silverlight</SilverlightDirectory>
      <SilverlightBinDirectory>$(SilverlightDirectory)\bin\$(Config)</SilverlightBinDirectory>
      <WP7Directory>$(RootDirectory)\TS3QueryLib.Core.WP7</WP7Directory>
      <WP7BinDirectory>$(WP7Directory)\bin\$(Config)</WP7BinDirectory>
      <NonSilverlightDirectory>$(RootDirectory)\TS3QueryLib.Core.Framework</NonSilverlightDirectory>
      <NonSilverlightBinDirectory>$(NonSilverlightDirectory)\bin\$(Config)</NonSilverlightBinDirectory>
    </PropertyGroup>
    
    <ItemGroup>
      <SilverlightFiles Include="$(SilverlightBinDirectory)\**\*.dll;$(SilverlightBinDirectory)\**\*.pdb;$(SilverlightBinDirectory)\**\*.xml"/>
      <WP7Files Include="$(WP7BinDirectory)\**\*.dll;$(WP7BinDirectory)\**\*.pdb;$(WP7BinDirectory)\**\*.xml"/>
      <NonSilverlightFiles Include="$(NonSilverlightBinDirectory)\**\*.dll;$(NonSilverlightBinDirectory)\**\*.pdb;$(NonSilverlightBinDirectory)\**\*.xml"/>
    </ItemGroup>

    <RemoveDir Directories="$(ReleaseDirectory)" ContinueOnError="true"/>

    <Copy SourceFiles="@(SilverlightFiles)" DestinationFiles="@(SilverlightFiles->'$(ReleaseDirectory)\Silverlight\%(RecursiveDir)%(Filename)%(Extension)')" />
    <Copy SourceFiles="@(WP7Files)" DestinationFiles="@(WP7Files->'$(ReleaseDirectory)\Windows Phone 7.1\%(RecursiveDir)%(Filename)%(Extension)')" />
    <Copy SourceFiles="@(NonSilverlightFiles)" DestinationFiles="@(NonSilverlightFiles->'$(ReleaseDirectory)\Non Silverlight\%(RecursiveDir)%(Filename)%(Extension)')" />
    <Copy SourceFiles="Changelog.txt;ReleaseNotes.txt" DestinationFolder="$(ReleaseDirectory)"/>
  </Target>

  <Target Name="ZipFiles">
    <ItemGroup>
      <ZipFiles Include="$(ReleaseDirectory)\**\*.*"/>
    </ItemGroup>
    
    <Zip Files="@(ZipFiles)" WorkingDirectory="$(ReleaseDirectory)" ZipFileName="$(ReleaseDirectory)\$(ReleaseName).zip" ZipLevel="9" />
  </Target>
  
</Project>