<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Deploy">
	<Import Project="Assemblies\CommTasks\MSBuild.Community.Tasks.Targets"/>
	<Import Project="Assemblies\ExtPack\MSBuild.ExtensionPack.tasks"/>
           
  <PropertyGroup>
    <RootDirectory>..</RootDirectory>
    <Config>Release</Config>
    <ReleaseVersion>2.0.0.0</ReleaseVersion>
    <ReleaseVersionEscaped>$(ReleaseVersion.Replace(".", "_"))</ReleaseVersionEscaped>
    <ReleaseName>TS3QueryLib.Net.V$(ReleaseVersionEscaped)</ReleaseName>
    <ReleaseDirectory>Releases\$(ReleaseVersionEscaped)</ReleaseDirectory>
  </PropertyGroup>
  
  <Target Name="Deploy">
    <Message Text="Starting deployment of release: $(ReleaseName)"/>

    <CallTarget Targets="ChangeFileVersion"/>
    <CallTarget Targets="Build"/>
    <CallTarget Targets="CopyFiles"/>
    <CallTarget Targets="ZipFiles"/>

    <Message Text="Finished deployment of release: $(ReleaseName)"/>
  </Target>

  <Target Name="ChangeFileVersion">
    <PropertyGroup>
      <AssemblyInfoFile>$(RootDirectory)\TS3QueryLib.Core.Framework\Properties\AssemblyInfo.cs</AssemblyInfoFile>
    </PropertyGroup>

    <Exec Command="attrib -r $(AssemblyInfoFile)"/>
    <FileUpdate Files="$(AssemblyInfoFile)" Regex="AssemblyVersion\(&quot;[^&quot;]+&quot;\)" ReplacementText="AssemblyVersion(&quot;$(ReleaseVersion)&quot;)" />
    <FileUpdate Files="$(AssemblyInfoFile)" Regex="AssemblyFileVersion\(&quot;[^&quot;]+&quot;\)" ReplacementText="AssemblyFileVersion(&quot;$(ReleaseVersion)&quot;)" />
  </Target>
  
  <Target Name="Build">
    <Message Text="Cleaning and Building Solution"/>
    <MSBuild Projects="$(RootDirectory)\TS3QueryLib.Net.sln" Properties="Configuration=$(Config)" Targets="Clean;Build"/>
  </Target>

  <Target Name="CopyFiles">
    <PropertyGroup>
      <BinDirectory>$(RootDirectory)\TS3QueryLib.Core.Framework\bin\$(Config)</BinDirectory>
    </PropertyGroup>
    
    <ItemGroup>
      <AssemblyAndDocumentationFiles Include="$(BinDirectory)\**\*.dll;$(BinDirectory)\**\*.pdb;$(BinDirectory)\**\*.xml"/>
    </ItemGroup>

    <RemoveDir Directories="$(ReleaseDirectory)" ContinueOnError="true"/>

    <Copy SourceFiles="@(AssemblyAndDocumentationFiles)" DestinationFiles="@(AssemblyAndDocumentationFiles->'$(ReleaseDirectory)\%(RecursiveDir)%(Filename)%(Extension)')" />
    <Copy SourceFiles="Changelog.txt;ReleaseNotes.txt" DestinationFolder="$(ReleaseDirectory)"/>
  </Target>

  <Target Name="ZipFiles">
    <ItemGroup>
      <ZipFiles Include="$(ReleaseDirectory)\**\*.*"/>
    </ItemGroup>
    
    <Zip Files="@(ZipFiles)" WorkingDirectory="$(ReleaseDirectory)" ZipFileName="$(ReleaseDirectory)\$(ReleaseName).zip" ZipLevel="9" />
  </Target>
</Project>