<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StartupFile" value="C:\Program Files\TS3Server\ts3server_win64.exe"/>
		<add key="WorkingDirectory" value="C:\Program Files\TS3Server"/>
		<add key="StartupParameters" value="query_port=4509 query_ip=0.0.0.0"/>
		<add key="HideProcess" value="true"/>
	</appSettings>
</configuration>